body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: aliceblue;
    z-index: 5;
}
/*this makes the starry area*/
@keyframes move-background{
    from{
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to{
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
@-webkit-keyframes move-background{
    from{
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to{
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
@-moz-keyframes move-background{
    from{
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to{
        -webkit-transform:translate3d(1000px, 0px, 0px);
    }
}
.starrybackground{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.stars{
    background: black url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png") repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    display: block;
}
.twinkling{
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
    z-index:1;
    -moz-animation: move-background 70s linear infinite;
    -ms-animation: move-background 70s linear infinite;
    -o-animation: move-background 70s linear infinite;
    -webkit-animation: move-background 70s linear infinite;
    animation: move-background 70s linear infinite;
}
/*now for the navbar*/
.navBar{
    background-color: rgb(7, 1, 52);
    width: 100%;
    z-index: 5;
}
.navBar ul{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(5, 1, 36);
    background: cover;
    padding: 0;
    margin: 0;
}
.navBar a{
    color:rgb(193, 208, 224);
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
    list-style-type: none;
    margin: 0;
}
.navBar a:hover{
    background-color:rgb(12, 12, 81);
}
.navBar li{
    float: left;
    list-style-type: none;
}
.intro{
    margin-top: 40px;
    z-index: 5;
    line-height: 1.8;
}
.line{
    border: 1px aliceblue;
    height: 1px;
    width: 80%;
    z-index: 5;
    background-color: aliceblue;
}

.buttons{
    z-index: 5;
}
.button{
    display: flex;
    float: left;
    border-radius: 1px;
    z-index: 5;
    cursor: pointer;
    font-size: 30px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px;
    transition: transform 300ms ease;
    background-color: rgb(43, 4, 114);
    color: azure;
    background-image: none;
    border-radius: 54px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border-color: black;
    
}
button:hover{
    transform: scale(1.2);
}
.profile{
    display: block;
    border: 1px aliceblue;
    width: 80%;
    z-index: 5;
    background-color: rgb(25, 49, 69);
    margin-top: 40px;
}

/*X-Files Page Stuff*/
.reviews{
    z-index: 5;
    background-color: rgba(212, 209, 7, 0.411);
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    padding-left: 15%;
}
.review{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 25%;
    height: 25%;
    background-color: rgba(213, 199, 4, 0.496);
    color: aliceblue;
    text-decoration: none;
    margin: 10px;
}
.review:hover{
    transform: scale(1.1);
}

a{
    color:aliceblue;
}
.epiRev{
    color:rgb(255, 240, 200);
    background-color: rgb(1, 1, 66);
    padding: 20px;
}





/*Mars Page Stuff*/

.redTint{
    width: 100%;
    height: 100%;
    background-color: rgba(167, 4, 15, 0.1);
    z-index: 3;
    background-size: 1000px 1000px;
    background-size: 1000px 1000px;
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
}
.navBarMars{
    background-color: rgb(52, 1, 1);
    width: 100%;
    z-index: 5;
}
.navBarMars ul{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(96, 2, 2);
    background: cover;
    padding: 0;
    margin: 0;
}
.navBarMars a{
    color:rgb(193, 208, 224);
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
    list-style-type: none;
    margin: 0;
}
.navBarMars a:hover{
    background-color:rgb(88, 31, 2);
}
.navBarMars li{
    float: left;
    list-style-type: none;
}
.marsInfo{
    color: aliceblue;
    z-index: 5;
}
.reviewsMars{
    z-index: 5;
    background-color: rgba(212, 17, 7, 0.411);
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    padding-left: 15%;
}
.reviewMars{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 25%;
    height: 25%;
    background-color: rgba(213, 88, 4, 0.496);
    color: aliceblue;
    text-decoration: none;
    margin: 10px;
}
.review:hover{
    transform: scale(1.1);
}
.marsRes{
    color:rgb(255, 240, 200);
    background-color: rgb(1, 1, 66);
    padding: 20px;
}




/*Now the UFO Stuff*/
.navBarUFO{
    background-color: rgb(48, 66, 6);
    width: 100%;
    z-index: 5;
}
.navBarUFO ul{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(43, 60, 4);
    background: cover;
    padding: 0;
    margin: 0;
}
.navBarUFO a{
    color:rgb(193, 208, 224);
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
    list-style-type: none;
    margin: 0;
}
.navBarUFO a:hover{
    background-color:rgb(19, 98, 3);
}
.navBarUFO li{
    float: left;
    list-style-type: none;
}


.ufoReports{
    z-index: 5;
    background-color: rgba(115, 143, 4, 0.411);
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    padding-left: 15%;
}
.ufoReview{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 25%;
    height: 25%;
    background-color: rgba(79, 117, 3, 0.8);
    color: aliceblue;
    text-decoration: none;
    margin: 10px;
}
.ufoReview:hover{
    transform: scale(1.1);
}
